/* fonts */
$font: "Inter";

/* colors */
$font-color: #010101;
$bg: #F3F2F0;
$accent: #D40000;
$accent-hover: #EA0E00;
$dark: #010101;
$light: #FFFFFF;
$input-bg: #E7E6E4;
$circle: #FFFFFF;

$tr: all 0.2s ease-in;