/* fonts */
$font: "Inter";

/* colors */
$font-color: #010101;
$bg: #F3F2F0;
$accent: #D40000;
$accent-hover: #EA0E00;
$dark: #010101;
$light: #FFFFFF;
$input-bg: #E7E6E4;

$tr: all 0.2s ease-in;

$r_desk_full_over: 1400px;
$r_desk_full: 1200px;
$r_desk: 1024px;
$r_desk_min: 935px;
$r_tab_full: 830px;
$r_tab: 768px; // iPad Mini
$r_desk_wxga: 1366px;
$r_mobile_full: 700px;
$r_mobile: 600px;
$r_mobile_s: 450px;
$r_mobile_xs: 400px;

$inline-margin-tooltip_desktomobile: clamp(5px, 3.667vw - 0.604rem, 27px);