@use 'var-light' as *;
@use 'font' as *;
@use "scss-reset";

body {
    position: relative;
    font-family: $font;
    font-weight: 400;
    margin: 0;
    background-color: $bg;
    color: $font-color;
}
.container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 45px;
    @media (max-width: $r_tab) {
        padding: 0px 10px;
    }
}
a {       
    text-decoration: none;
    color: $dark;
    transition: $tr;
    &:hover {
        color: $accent;
    }
}
label {
    display: inline-block;
    margin-bottom: 10px;
    @media (max-width: $r_tab) {
        margin-bottom: 8px;
    }
}
.nav-box {
    &__inner {      /* СОДЕРЖИМОЕ ШАПКИ */
        font-size: 14px;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        gap: 10px;
    }
    &__link {       /* БЛОК С ССЫЛКАМИ */
        display: flex;
        gap: 28px;
        @media (max-width: $r_desk_full) {
            gap: clamp(15px, 3.009vw - 0.507rem, 28px);
        }
        @media (max-width: $r_tab) {
            justify-content: center;
        }
    }
    &__contact {    /* БЛОК С КОНТАКТАМИ */
        display: flex;
        gap: 13px;
        justify-content: flex-end;
        @media (max-width: $r_tab) {
            justify-content: center;
        }
    }
    &__item {       /* СОДЕРЖИМОЕ ССЫЛОК И КОНТАКТОВ */
        user-select: none;
        line-height: 150%;
        @media (max-width: $r_desk) {
            font-size: clamp(10px, 0.667vw + 0.458rem, 14px);
        }
    }
}
.contact_link {
        user-select: none;
        line-height: 150%;
        font-size: 14px;
        &._header {
            @media (max-width: $r_tab) {
                font-size: 14px;
            }
        }
        &._footer {
            @media (max-width: $r_tab) {
                font-size: 14px;
            }
        }
        &.active {
            opacity: 0;
            visibility: hidden;
        }
        &:not(:last-child) {        /* КОНТАКТ СО СТЕНОЙ ПОСЛЕ НЕГО */
            margin-right: 14px;
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: -14px;
                top: -3px;
                width: 1px;
                background-color: $dark;
                height: 24px;
                opacity: 0.2;
            }
        }
        &._mobile {
            display: none;
            font-size: 14px;
            &::after {
                display: none;
            }
            @media (max-width: $r_tab) {
                display: block;
            }
        }
}
.social_link {
    font-size: 16px;
    user-select: none;
    line-height: 150%;
    @media (max-width: $r_desk) {
        font-size: clamp(12px, 0.667vw + 0.583rem, 16px);
    }
    &:not(:last-child) {        /* КОНТАКТ СО СТЕНОЙ ПОСЛЕ НЕГО */
        margin-right: 29px;
        position: relative;
        @media (max-width: $r_desk) {
            margin-right: clamp(11px, 3vw - 0.063rem, 29px);
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: -28px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            background-color: $dark;
            height: 24px;
            opacity: 0.2;
            @media (max-width: $r_tab) {
                right: -11px;
                height: 15px;
            }
        }
    }
}
.social {
    display: flex;
    gap: 28px;
    position: relative;
    align-items: center;
    &._burger {
        display: none;
        &::after {
            display: none;
        }
        @media (max-width: $r_tab) {
            display: flex;
        }
    }
    @media (max-width: $r_tab) {
        font-size: 12px;
        gap: 10px;
    }
}
.popup_btn {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    width: fit-content;
    position: relative;
    color: $font-color;
    text-decoration: none;
    @media (max-width: $r_desk) {
        font-size: clamp(12px, 0.667vw + 0.583rem, 16px);
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -11px;
        height: 2px;
        width: 100%;
        transform: scale(0);
        transform-origin: left;
        transition: $tr;
        background-color: $dark;
    }
    &::after {
        content: '';
        display: inline-block;
        background-image: url(../images/bio/Arrow_desk.svg);
        background-repeat: no-repeat;
        width: 15.75px;
        height: 11.05px;
        margin-left: 15px;
        @media (max-width: $r_tab) {
            background-image: url(../images/bio/Arrow_mob.svg);
            width: 11px;
            height: 10px;
            margin-left: 10px;
        }
        
    }
    &:hover {
        &::before {
            transform: scale(1);
        }
    }
}
.circle {
    position: absolute;
    background-color: $light;
    border-radius: 50%;
    z-index: -1;
}
.title {
    &__h1 {
        font-weight: 700;
        font-size: 74px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        @media (max-width: $r_desk) {
            font-size: clamp(28px, 7.667vw - 0.167rem, 74px);
        }
    }
    &__h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0.03em;
        @media (max-width: $r_desk) {
            font-size: clamp(16px, 2vw + 0.5rem, 28px);
        }
    }
    &__h3 {
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        @media (max-width: $r_desk) {
            font-size: clamp(16px, 2vw + 0.5rem, 28px);
        }
    }
    &__hidden {
        position: absolute;
        max-height: 0px;
        visibility: hidden;
        font-size: 0px;
        width: 0%;
    }
}
.item-text {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-wrap-mode: nowrap;
    span {
        opacity: 0.8;
        font-size: 14px;
        letter-spacing: normal;
        font-weight: 400;
        line-height: 150%;
        text-transform: none;
        text-wrap: balance;
    }
    @media (max-width: $r_tab) {
        font-size: clamp(12px, 1.087vw + 0.478rem, 16px);
        span {
            font-size: clamp(10px, 1.087vw + 0.353rem, 14px);
        }
    }
    &.benefit__text {
        line-height: normal;
        span {
            line-height: 150%;
        }
        @media (max-width: $r_desk) {
            font-size: clamp(12px, 0.667vw + 0.583rem, 16px);
            span {
                font-size: clamp(12px, 0.333vw + 0.667rem, 14px);
            }
        }
    }
}
.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 59px;
    border-bottom: 1px solid $dark;
    @media (max-width: $r_tab_full) {
        flex-direction: column;;
        padding-bottom: 39px;
    }
}
.description {
    font-size: 28px;
    line-height: 150%;
    @media (max-width: $r_desk) {
        font-size: clamp(16px, 2vw + 0.5rem, 28px);
    }
}
section {
    margin-top: 180px;
    @media (max-width: $r_tab) {
        margin-top: 60px;
    }
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $bg;
    z-index: 999;
    @media (max-width: $r_tab) {
        padding: 20px 0;
    }
    &__wrapper {
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: space-between;
            position: relative;
        }    
    }
    &__inner {
        height: 104px;
        transition: $tr;
        @media (max-width: $r_tab) {
            max-height: 0px;
            overflow: hidden;
            position: absolute;
            opacity: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 999;
        }    
    }
    &__inner.active {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: max-content;
        height: max-content;
        width: 100%;
        top: 100%;
        z-index: 999;
        background-color: $bg;
        left: 50%;
        transform: translateX(-50%);
        padding: 40px 10px 40px 10px;
        opacity: 100;
    }
    &__link {
        justify-content: inherit;
        @media (max-width: $r_tab) {
            display: flex;
            flex-direction: column;
            gap: inherit;
            li {
                padding: 20px 0;
                border-top: 1px solid rgba(1, 1, 1, .2);
            }
            li:last-child {
                border-bottom: 1px solid rgba(1, 1, 1, .2);
            }
        }  
    }
    &__contact {
        @media (max-width: $r_tab) {
            margin-top: 20px;
        }  
    }
    &__nav {
        @media (max-width: $r_tab) {
            width: 100%;
            text-align: center;
        }  
    }
    &__item {
        @media (max-width: $r_tab) {
            font-size: 26px;
        }  
    }
}
.burger {
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 24px;
    height: 20px;
    @media (max-width: $r_tab) {
        display: block;
    }
    &::before,&::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: $dark;
    }
    &::before {
        top: 0;
        box-shadow: 0 9px 0 #000;
    }
    &::after {
        bottom: 0;
    }
    &::before {
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
        }
    &::after {
        transition: bottom .3s .15s, transform .3s;
        }
    &.active::before {
        top: 9px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
        }
    &.active::after {
        bottom: 9px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
        }
    }
.about {
    margin-top: 124px;
    @media (max-width: $r_tab) {
        margin-top: 81px;
    }  
    &__img {
        margin-bottom: 120px;
        min-height: 215px;
        @media (max-width: $r_desk) {
            object-fit: cover;
        }
        @media (max-width: $r_tab) {
            margin-bottom: 60px;
        }
    }
    &__title {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: $r_tab) {
            gap: 20px;
        }
    }
    &__text {
        font-size: 28px;
        line-height: 150%;
        @media (max-width: $r_desk) {
            font-size: clamp(18px, 1.667vw + 0.708rem, 28px);
        }
    }
    &__circle {  /* Круг */
        height: 253px;
        width: 253px;
        top: 50%;
        transform: translate(-50%, -55%);
        @media (max-width: $r_tab) {
            height: clamp(135px, 32.065vw + 0.421rem, 253px);
            width: clamp(135px, 32.065vw + 0.421rem, 253px);
            transform: translate(-40%, -46%);
        }
        img {   /* Треугольник */
            position: absolute;
            width: 76px;
            height: 72px;
            bottom: 143px;
            left: -28px;
            @media (max-width: $r_desk_full_over) {
                top: 50%;
                left: 50%;
                height: clamp(35px, 10.054vw - 0.326rem, 72px);
                width: clamp(33px, 11.685vw - 0.859rem, 76px);
                transform: translate(0%, 155%);
            }
        }
    }
}

.features {
    margin-top: 100px;
    &__text {
        text-transform: uppercase;
        gap: 15px;
        letter-spacing: 0.03em;
    }
    &__social {
        &::after {
            content: '';
            display: block;
            background-color: $light;
            border-radius: 50%;
            z-index: -1;
            position: absolute;
            width: 106px;
            height: 106px;
            top: 50%;
            right: 39px;
            transform: translateY(-50%);
            @media (max-width: $r_desk) {
                width: clamp(60px, 7.667vw + 1.833rem, 106px);
                height: clamp(60px, 7.667vw + 1.833rem, 106px);
                right: 28px;
            }
        }
    }
    &__list {
        margin-top: 60px;
        display: flex;
        gap: 15px;
        justify-content: space-between;
        ._frontend {
            max-width: 197px;
        }
        ._backend {
            max-width: 211px;
        }
        ._wp {
            max-width: 203px;
        }
        ._seo {
            max-width: 238px;
        }
        @media (max-width: $r_tab) {
            margin-top: 40px;
            display: grid;
            gap: inherit;
            row-gap: 30px;
            grid-template-columns: repeat(2, minmax(130px, 240px));
        }
    }
    &__head {
        flex-direction: row;
    }
}
.info {
    @media (max-width: $r_tab) {
        margin-top: 80px;
    }
    &__head {
        gap: 20px;
    }
    &__title {
        flex-basis: 50%;
        @media (max-width: ($r_desk_full + 20px)) {
            flex-basis: inherit;
        }
    }
    &__text {
        flex-basis: 50%;
        opacity: 0.8;
        @media (max-width: ($r_desk_full + 20px)) {
            flex-basis: 560px;
        }
        @media (max-width: $r_tab_full) {
            flex-basis: inherit;
        }
    }
    .advantage {
        display: flex;
        justify-content: flex-end;
        margin-top: 60px;
        @media (max-width: $r_tab_full) {
            display: block;
            margin-top: 40px;
        }
        &__list {
            display: grid;
            grid-template-columns: 220px 270px;
            grid-template-rows: repeat(2, 1fr);
            gap: 60px 70px;
            @media (max-width: $r_tab_full) {
                gap: inherit;
                row-gap: 30px;
                grid-template-columns: clamp(145px, 20.38vw + 3.967rem, 220px) clamp(170px, 27.174vw + 3.832rem, 270px);
                justify-content: space-between;
            }
        }
        &__text {
            gap: 20px;
            @media (max-width: $r_tab_full) {
                gap: 15px;
            }
        }
    }
}
.steps {
    &__item {
        display: flex;
        align-items: center;
        padding: 30px 0 29px 0;
        gap: 20px;
        border-bottom: 1px solid $dark;
        &:first-child {
            border-top: 1px solid $dark;
        }
        @media (max-width: $r_tab) {
            padding: 14px 0 15px 0;
            gap: 2px;
        }
        @media (max-width: $r_mobile_s) {
            &:last-child {
                p {
                    padding-right: 40px;
                }
            }
        }
        p {
            flex-basis: 50%;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.8;
            @media (max-width: $r_desk) {
                font-size: clamp(12px, 0.667vw + 0.583rem, 16px);
            }
        }
    }
    &__text {
        flex-basis: 50%;
        span {
            margin-right: 40px;
            @media (max-width: $r_desk_min) {
                margin-right: 9px;
            }
        }
        br {
            display: none;
            @media (max-width: $r_mobile) {
                display: inline;
            }
        }
    }
}
.portfolio {
    @media (max-width: $r_tab) {
        margin-top: 80px;
    }
    &__title {
        position: relative;
        z-index: 100;
        h1 {
            letter-spacing: normal;
        }
    }
    &__circle {
        width: 465px;
        height: 465px;
        top: 50%;
        left: 50%;
        transform: translate(-48%, -29%);
        @media (max-width: $r_desk) {
            width: clamp(197px, 42.949vw + 1.575rem, 465px);
            height: clamp(197px, 42.949vw + 1.575rem, 465px);
            transform: translate(-13%, -26%);

        }
    }
    &__works {
        margin-top: 144px;
        background: linear-gradient(180deg, #e7e6e6 0%, rgba(231, 230, 230, 0) 100%);
        @media (max-width: $r_tab) {
            margin-top: 69px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 60px 0 59px 0;
        border-bottom: 1px solid $dark;
        z-index: 800;
        @media (max-width: $r_tab) {
            flex-direction: column;
            justify-content: inherit;
            align-items: inherit;
            gap: 40px;
            padding: 40px 0 39px 0;
        }
        &:first-child {
            padding-top: 61px;
            @media (max-width: $r_tab) {
                padding-top: 41px;
            }
        }
    }
    &__img {
        img {
            @media (max-width: $r_tab) {
                width: 100%;
            }
        }
        &.tab {
            display: none;
            @media (max-width: $r_tab) {
                display: block;
            }
        }
        &.desk {
            @media (max-width: $r_tab) {
                display: none;
            }
        }

    }
    .item-box {
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (max-width: $r_tab) {
            gap: 20px;
        }
        &__title {
            text-transform: none;
            letter-spacing: normal;
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &__item {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.8;
            @media (max-width: $r_desk) {
                font-size: clamp(12px, 0.667vw + 0.583rem, 16px);
            }
        }
        &__total {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.8;
            @media (max-width: $r_desk) {
                font-size: clamp(12px, 0.667vw + 0.583rem, 16px);
            }
        }
    }
}
.benefit {
    @media (max-width: $r_tab) {
        margin-top: 80px;
    }
    &__title {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    &__head {
        padding-bottom: 79px;
        justify-content: start;
        @media (max-width: $r_tab) {
            padding-bottom: 39px;
        }
    }
    &__text {
        max-width: 870px;
        gap: 10px;
        @media (max-width: $r_tab) {
            gap: 15px;
        }
    }
    &__list {
        margin-top: 79px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px 20px;
        @media (max-width: $r_tab) {
            grid-template-columns: 1fr;
            gap: 30px;
            margin-top: 40px;
        }
    }
    &__item {
        display: flex;
        gap: 40px;
        align-items: center;
        @media (max-width: $r_desk) {
            img {
                width: clamp(30px, 1.667vw + 1.458rem, 40px);
                height: clamp(30px, 1.667vw + 1.458rem, 40px);
            }
        }
    }
}
.stack {
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-top: 1px solid rgba(1, 1, 1, .3);
        border-left: 1px solid rgba(1, 1, 1, .3);
    }
    &__item {
        height: 146px;
        align-content: center;
        text-align: center;
        border-right: 1px solid rgba(1, 1, 1, .3);
        border-bottom: 1px solid rgba(1, 1, 1, .3);
        position: relative;
        transform-origin: top;
        @media (max-width: $r_desk) {
            height: clamp(43px, 16.667vw - 1.479rem, 147px);
        }
        img {
            position: absolute;
            opacity: 0.3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: $r_desk) {
                height: stretch;
                height: -webkit-fill-available;
            }
        }
        .img-blend {
            mix-blend-mode: luminosity;
        }
        .img-hover {
            opacity: 0;
            transition: $tr;
        }
    }
    &__description {
        position: absolute;
        background-color: #E31B1B;
        padding: 28px 15px 27px 15px;
        top: 126px;
        margin-inline: $inline-margin-tooltip_desktomobile;
        z-index: 999;
        transform: scale(0);
        transform-origin: top;
        transition: $tr;
        @media (max-width: $r_desk) {
            padding: 10px 5px;
            top: clamp(45px, 13.5vw - 0.563rem, 126px);
        }
        &::after {
            content: '';
            display: block;
            background-image: url(../images/stack/triangle-hover.svg);
            width: 15px;
            height: 9px;
            position: absolute;
            top: -7px;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &__text {
        font-weight: 500;
        font-size: 10px;
        line-height: 150%;
        text-align: center;
        color: $light;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: $r_desk) {
            font-size: clamp(6px, 0.667vw + 0.208rem, 10px);
        }
    }
    &__item:hover {
        .stack__description {
            transform: scale(1);
            @media (max-width: $r_tab) {
                transform: scale(1.3);
            }
        }
        .img-blend {
            mix-blend-mode: inherit;
        }
        .img-hover {
            opacity: 0.3;
        }
    }
}
.tariffs {
    margin-top: 179px;
    @media (max-width: $r_tab) {
        margin-top: 80px;
    }
    &__title {
        flex-basis: 50%;
        position: relative;
        &::before {
            content: '';
            display: block;
            background-color: $light;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: -49px;
            transform: translateX(-50%);
            @media (max-width: $r_desk) {
                width: clamp(138px, 0.321vw + 8.545rem, 140px);
                height: clamp(138px, 0.321vw + 8.545rem, 140px);
                transform: translateX(calc(-50% - 7px));
            }
        }
    }
    &__text {
        flex-basis: 50%;
    }
    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
        @media (max-width: $r_tab) {
            gap: 40px;
            margin-top: 40px;
        }
    }
    &__head {
        gap: 20px;
        padding-bottom: 80px;
        @media (max-width: $r_tab) {
            padding-bottom: 30px;
        }
    }
    &__item {
        display: flex;
        gap: 20px;
        padding-bottom: 59px;
        @media (max-width: $r_tab) {
            padding-bottom: 39px;
            &:not(:last-child) {
                .tariffs__description{
                    gap: 15px;
                }
            }
            &:last-child {
                .tariffs__description{
                    gap: 30px;
                }
            }
            &:nth-child(2n) {
                .tariffs__description-title {
                    span {
                        @media (max-width: $r_mobile_xs) {
                            max-width: 100px;
                        }
                    }
                }
            }
        }
        @media (max-width: $r_mobile_s) {
            gap: 40px;
        }
        &:not(:last-child) {
            border-bottom: 1px solid $dark;
        }
        &:last-child {
            @media (max-width: $r_tab) {
                border-bottom: 1px solid $dark;
        }
        }
        &:nth-child(2n) {
            p::after {
                display: none;
            }
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        gap: 75px;
        flex-basis: 50%;
        @media (max-width: $r_desk) {
            justify-content: space-between;
            font-size: clamp(12px, 0.641vw + 0.59rem, 16px);
        }
        @media (max-width: $r_mobile_s) {
            flex-basis: 43%;
            
        }
    }
    &__description-title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        span {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.8;
            letter-spacing: 0.005em;
            @media (max-width: $r_desk) {
                font-size: clamp(10px, 0.962vw + 0.385rem, 16px);
            }
        }
    }
    &__info {
        flex-basis: 50%;
        @media (max-width: $r_desk) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        @media (max-width: $r_mobile_s) {
            flex-basis: 57%;
        }
    }
    &__cost {
        margin-top: 40px;
        font-weight: 700;
        font-size: 42px;
        line-height: 150%;
        position: relative;
        @media (max-width: $r_desk) {
            margin-top: inherit;
            font-size: clamp(22px, 3.205vw + 0.574rem, 42px);
            line-height: normal;
        }
        &::after {
            content: '';
            display: block;
            background-color: $light;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: $r_tab) {
                    width: clamp(40px, 8.013vw + 0.497rem, 90px);
                    height: clamp(40px, 8.013vw + 0.497rem, 90px);
            }
        }
    }
    .include {
        &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 20px;
            @media (max-width: $r_desk) {
                font-size: clamp(12px, 0.641vw + 0.59rem, 16px);
            }
        }
        &__text {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            opacity: 0.8;
            @media (max-width: $r_desk) {
                font-size: clamp(12px, 0.641vw + 0.59rem, 16px);
            }
            @media (max-width: $r_tab) {
                gap: 5px;
            }
            &::before {
                display: block;
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $dark;
                @media (max-width: $r_tab) {
                    width: 2px;
                    height: 2px;
                }
            }
        }
    }
}
.feedback {
    margin-top: 120px;
    @media (max-width: $r_tab) {
        margin-top: 80px;
    }
    &__head {
        gap: 20px;
        position: relative;
        @media (max-width: $r_tab) {
            padding-bottom: 28px;
        }
    }
    &__circle {
        height: 300px;
        width: 300px;
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
        @media (max-width: $r_desk) {
            height: clamp(190px, 29.891vw + 4.402rem, 300px);
            width: clamp(190px, 29.891vw + 4.402rem, 300px);
            transform: translate(-28%, -80%);
        }
        img {
            position: absolute;
            width: 68px;
            height: 67px;
            top: 0%;
            left: 0%;
            transform: translate(-40%, 100%);
            @media (max-width: $r_tab) {
                transform: translate(-50%, 15%);
                right: 0%;
                left: unset;
                width: clamp(28px, 10.87vw - 0.967rem, 68px);
                height: clamp(31px, 9.783vw - 0.508rem, 67px);
            }
        }   
    }
    &__title {
        flex-basis: 50%;
    }
    &__text {
        flex-basis: 50%;
        opacity: 0.8;
    }
    &__content {
        margin-top: 58px;
        display: flex;
        gap: 20px;
        padding-bottom: 129px;
        border-bottom: 1px solid $dark;
        @media (max-width: $r_tab) {
            padding-bottom: 60px;
            flex-direction: column;
            gap: 60px;
            margin-top: 36px;
        }
    }
    &__contact {
        display: flex;
        flex-basis: 50%;
        align-items: flex-end;
        @media (max-width: $r_tab) {
            justify-content: center;
            flex-basis: inherit;
        }
    }
    &__forms {
        flex-basis: 50%;
        @media (max-width: $r_tab) {
            order: -1;
            flex-basis: inherit;
        }
    }
    &__label {
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            opacity: 0.8;
            @media (max-width: $r_tab) {
                font-size: clamp(10px, 0.543vw + 0.489rem, 12px);
            }
            &:not(:first-child) {
                margin-top: 20px;
            }
        }  
    &__input {
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        width: 100%;
        padding: 20px;
        height: 65px;
        background: $input-bg;
        @media (max-width: $r_tab) {
            height: 55px;
        }
        &::placeholder {
            opacity: 0.2;
            @media (max-width: $r_tab) {
            font-size: clamp(10px, 0.543vw + 0.489rem, 12px);
            }
        }
    }
    &__input-field {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 24px;
            display: inline-block;
            background-image: url(../images/icons/Arrow.svg);
            background-repeat: no-repeat;
            width: 12px;
            height: 7px;
            transition: $tr;
        }
        input {
            cursor: pointer;
        }
    }
    &__dropdown {
        transition: $tr;
    }
    &__item {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        opacity: 0.45;
        transition: $tr;
        user-select: none;
        cursor: pointer;
        @media (max-width: $r_tab) {
            font-size: clamp(10px, 0.543vw + 0.489rem, 12px);
        }
        &:hover {
            opacity: 1;
        }
    }
    &__btn {
        background-color: $accent;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: $light;
        margin-top: 40px;
        height: 65px;
        width: 100%;
        padding: 20px;
        transition: $tr;
        @media (max-width: $r_tab) {
            font-size: clamp(12px, 1.087vw + 0.478rem, 16px);
            margin-top: 30px;
            height: 55px;
            padding: 19px;
        }
        &:hover {
            background: $accent-hover;
        }
    }
}
    .dropdown-list {
    position: absolute;
    flex-direction: column;
    display: flex;
    gap: 10px;
    padding: 0 20px 17px 20px;
    background-color: $input-bg;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: $tr;
    overflow: hidden;
    }
    .open {
        &::after {
            transform: rotate(180deg);
        }
    }
    .dropdown-list.open {
        max-height: 200px; /* достаточно для всех элементов */
        opacity: 1;
    }
.footer {
    margin-top: 60px;
    margin-bottom: 42px;
    @media (max-width: $r_tab) {
        margin-top: 40px;
        margin-bottom: 27px;
    }
    &__contact {
        @media (max-width: $r_tab) {
            order: -1;
        }
    }
    &__inner {
        grid-template-rows: repeat(2, 1fr);
        gap: 40px 10px;
        @media (max-width: $r_tab) {
            nav {
                margin-bottom: 15px;
            }
            div {
                margin-bottom: 15px;
            }
            gap: 15px 0;
            grid-template-rows: unset;
            grid-template-columns: 1fr;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        opacity: 0.3;
        @media (max-width: $r_tab) {
            font-size: clamp(10px, 0.543vw + 0.489rem, 12px);
        }
        span {
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }
    .copy {
        text-align: left;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    .course {
        text-align: right;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
}
.popupOverlay {
    display: block;
    transition: $tr;
    &__open {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: $dark;
        z-index: 999;
        opacity: 0.4;
        transition: $tr;
    }
}
.burgerOverlay {
    display: block;
    transition: $tr;
    &__open {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: $dark;
        z-index: 990;
        opacity: 0.4;
        transition: $tr;
    }
}
.popup {
    display: block;
    position: fixed;
    border: inherit;
    scale: 0;
    max-width: 600px;
    width: 100%;
    margin: 0;
    z-index: 999;
    background-color: $bg;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transform-origin: left bottom;
    padding: 55px 20px 40px 20px;
    opacity: 0;
    transition: $tr;
    @media (max-width: $r_tab) {
        padding: 60px 10px;
    }
    &__open {
        opacity: 1;
        scale: 1;
    }

    &__close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        @media (max-width: $r_tab) {
            top: 10px;
            right: 10px;
        }
        img {
            width: 20px;
            height: 20px;
            transition: $tr;
            &:hover {
                transform: rotate(45deg);
            }
        }
    }
    &__head {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        padding-inline: 80px;
        padding-bottom: 30px;
        margin-bottom: 40px;
        @media (max-width: $r_tab) {
            padding-inline: 30px;
            padding-bottom: 40px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
    }
}