@use 'var-light' as *;
@use 'font' as *;
@use "scss-reset";

body {
    font-family: $font;
    font-weight: 400;
    margin: 0;
    background-color: $bg;
    color: $dark;
}
.container {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 45px;
}
a {       
    text-decoration: none;
    color: $dark;
    transition: $tr;
    &:hover {
        color: $accent;
    }
}
.contact_link {
        user-select: none;
        line-height: 150%;
        &:not(:last-child) {        /* КОНТАКТ СО СТЕНОЙ ПОСЛЕ НЕГО */
            margin-right: 14px;
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                right: -14px;
                top: -3px;
                width: 1px;
                background-color: $dark;
                height: 24px;
                opacity: 0.2;
            }
        }
}
.social_link {
    user-select: none;
    line-height: 150%;
    &:not(:last-child) {        /* КОНТАКТ СО СТЕНОЙ ПОСЛЕ НЕГО */
        margin-right: 29px;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: -28px;
            top: -3px;
            width: 1px;
            background-color: $dark;
            height: 24px;
            opacity: 0.2;
        }
    }
}
.popup_btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    width: fit-content;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -11px;
        height: 2px;
        width: 100%;
        transform: scale(0);
        transform-origin: left;
        transition: $tr;
        background-color: $dark;
    }
    &::after {
        content: '';
        display: inline-block;
        background-image: url(../images/bio/Arrow.svg);
        background-repeat: no-repeat;
        width: 15.75px;
        height: 11.05px;
        margin-left: 15px;
        
    }
    &:hover {
        &::before {
            transform: scale(1);
        }
    }
}
.circle {
    position: absolute;
    background-color: $light;
    border-radius: 50%;
    z-index: -1;
}
.title {
    &__h1 {
        font-weight: 700;
        font-size: 74px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    &__h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        letter-spacing: 0.03em;
    }
    &__h3 {
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
    }
}
.item-text {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-wrap-mode: nowrap;
    span {
        opacity: 0.8;
        font-size: 14px;
        letter-spacing: normal;
        font-weight: 400;
        line-height: 150%;
        text-transform: none;
        text-wrap: balance;
    }
}
.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid $dark;
}
.description {
    font-size: 28px;
    line-height: 150%;
}

.header {
    &__inner {      /* СОДЕРЖИМОЕ ШАПКИ */
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        height: 104px;
        align-items: center;
    }
    &__link {       /* БЛОК С ССЫЛКАМИ */
        display: flex;
        gap: 28px;
    }
    &__contact {    /* БЛОК С КОНТАКТАМИ */
        display: flex;
        gap: 13px;
    }
    &__item {       /* СОДЕРЖИМОЕ ССЫЛОК И КОНТАКТОВ */
        user-select: none;
        line-height: 150%;
    }
}
.about {
    margin-top: 20px;
    &__img {
        margin-bottom: 120px;
    }
    &__title {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__circle {  /* Круг */
        height: 253px;
        width: 253px;
        top: -55px;
        transform: translateX(-50%);
    }
    &__triangle {   /* Треугольник */
        position: absolute;
        width: 76px;
        height: 72px;
        top: 38px;
        left: -28px;
    }

    .features {
        margin-top: 70px;
        margin-bottom: 180px;
        &__social {
            display: flex;
            gap: 28px;
            position: relative;
            &::after {
                content: '';
                display: block;
                background-color: $light;
                border-radius: 50%;
                z-index: -1;
                position: absolute;
                width: 106px;
                height: 106px;
                top: 50%;
                right: 39px;
                transform: translateY(-50%);
            }
        }
        &__text {
            text-transform: uppercase;
            gap: 15px;
            letter-spacing: 0.03em;
        }
        &__list {
            margin-top: 60px;
            display: flex;
            gap: 15px;
            justify-content: space-between;
            ._frontend {
                max-width: 197px;
            }
            ._backend {
                max-width: 211px;
            }
            ._wp {
                max-width: 203px;
            }
            ._seo {
                max-width: 238px;
            }
        }
    }
    .info {
        &__head {
            gap: 20px;
        }
        &__title {
            flex-basis: 50%;
        }
        &__text {
            flex-basis: 50%;
            opacity: 0.8;
        }
        .advantage {
            display: flex;
            justify-content: flex-end;
            margin-top: 60px;
            &__list {
                display: grid;
                grid-template-columns: 220px 270px;
                grid-template-rows: repeat(2, 1fr);
                gap: 60px 70px;
            }
            &__text {
                gap: 20px;
            }
        }
    }
}
.steps {
    margin-top: 179px;
    &__title {
        visibility: hidden;
        font-size: 0px;
        width: 0%;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 30px 0 29px 0;
        gap: 20px;
        border-bottom: 1px solid $dark;
        &:nth-child(1) {
            border-top: 1px solid $dark;
            h3::before {
                content: '01';
                display: block;
            }
        }
        &:nth-child(2) {
            h3::before {
                content: '02';
                display: block;
            }
        }
        &:nth-child(3) {
            h3::before {
                content: '03';
                display: block;
            }
        }
        span {
            flex-basis: 50%;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.8;
        }
    }
    &__text  {
        display: flex;
        flex-basis: 50%;
        gap: 40px;
    }
}
.portfolio {
    margin-top: 180px;
    &__title {
        position: relative;
        z-index: 100;
        h1 {
            letter-spacing: normal;
        }
    }
    &__circle {
        width: 465px;
        height: 465px;
        top: -89px;
        left: 347px;
    }
    &__works {
        margin-top: 144px;
        background: linear-gradient(180deg, #e7e6e6 0%, rgba(231, 230, 230, 0) 100%);
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 60px 0 59px 0;
        border-bottom: 1px solid $dark;
        z-index: 999;
    }
    .item-box {
        display: flex;
        flex-direction: column;
        gap: 40px;
        &__title {
            text-transform: none;
            letter-spacing: normal;
        }
        &__list {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &__item {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.8;
        }
        &__total {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            opacity: 0.8;
        }
    }
}
.benefit {
    margin-top: 180px;
    &__title {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    &__head {
        padding-bottom: 79px;
        justify-content: start;
    }
    &__text {
        max-width: 870px;
        gap: 8px;
    }
    &__list {
        margin-top: 79px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px 20px;
    }
    &__item {
        display: flex;
        gap: 40px;
        align-items: center;
        max-height: 71px;
    }
}
.stack {
    margin-top: 180px;
    margin-bottom: 180px;
    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-top: 1px solid rgba(1, 1, 1, .3);
        border-left: 1px solid rgba(1, 1, 1, .3);
    }
    &__item {
        height: 148px;
        align-content: center;
        text-align: center;
        border-right: 1px solid rgba(1, 1, 1, .3);
        border-bottom: 1px solid rgba(1, 1, 1, .3);
        position: relative;
        transform-origin: top;
        img {
            position: absolute;
            opacity: 0.3;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .img-blend {
            mix-blend-mode: luminosity;
        }
        .img-hover {
            opacity: 0;
            transition: $tr;
        }
    }
    &__description {
        position: absolute;
        background-color: #E31B1B;
        padding: 28px 15px 27px 15px;
        top: 126px;
        margin-inline: 27px;
        z-index: 999;
        transform: scale(0);
        transform-origin: top;
        transition: $tr;
        &::after {
            content: '';
            display: block;
            background-image: url(../images/stack/triangle-hover.svg);
            width: 15px;
            height: 9px;
            position: absolute;
            top: -7px;
            left: 50%;
            transform: translate(-50%);
        }
    }
    &__text {
        font-weight: 500;
        font-size: 10px;
        line-height: 150%;
        text-align: center;
        color: $light;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__item:hover {
        .stack__description {
            transform: scale(1)
        }
        .img-blend {
            mix-blend-mode: inherit;
        }
        .img-hover {
            opacity: 0.3;
        }
    }
}
.tariffs {
    &__title {
        flex-basis: 50%;
        position: relative;
        &::before {
            content: '';
            display: block;
            background-color: $light;
            width: 140px;
            height: 140px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: -49px;
            transform: translateX(-50%);
        }
    }
    &__text {
        flex-basis: 50%;
    }
    &__list {
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }
    &__head {
        gap: 20px;
        padding-bottom: 78px;
    }
    &__item {
        display: flex;
        gap: 20px;
        padding-bottom: 60px;
        &:not(:last-child) {
            border-bottom: 1px solid $dark;
        }
        &:nth-child(2n) {
            p::after {
                display: none;
            }
        }
    }
    &__description {
        display: flex;
        flex-direction: column;
        gap: 75px;
        flex-basis: 50%;
        &_title {
            display: flex;
            flex-direction: column;
            gap: 20px;
            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                opacity: 0.8;
            }
        }
    }
    &__info {
        flex-basis: 50%;
    }
    &__cost {
        margin-top: 40px;
        font-weight: 700;
        font-size: 42px;
        line-height: 150%;
        position: relative;
        &::after {
            content: '';
            display: block;
            background-color: $light;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .include {
        &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 20px;
        }
        &__text {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            opacity: 0.8;
            &::before {
                display: block;
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $dark;
            }
        }
    }
}